* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-section {
  width: 100%;
  height: 70vh;
  background-color: blue;
  padding: 0 6%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 70px;
  width: 100%;
}

.header-top .flag {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.flag .btn a {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 5px;
  color: blue;
  font-weight: 600;
}

.header-bottom {
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.active {
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 20px;
}

.hero-text {
  color: white;
  margin-top: 6%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
}

.form-container {
    margin-top: -2rem ;
  padding: 0 6%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: orange;
  border-radius: 10px;
  padding: 5px;
}

.form input {
  padding: 1rem 0.5rem;
  flex-grow: 1;
}

.form input :focus {
  outline: none;
}

.form button {
  padding: 1rem 0.5rem;
  border: 2px solid white;
  background-color: blue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  flex-grow: 1;
}



.why {
  padding: 0 6%;
}

.why h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.cards {
display: flex;
justify-content: center;
align-items: center;
gap: 1.5rem;
margin-top: 2rem;
}

.card{
    width: 300px;
    height: 300px;
    background-color: #f1f0f0;
    border-radius: 20px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card img{
    width: 20%;
    border-radius: 20px;
}


.stay{
    padding: 0 6%;
}

.stay h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}


.cardholder{
    width: 300px;
    height: 400px;
    background-color: #f1f0f0;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    overflow: hidden;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.image-card{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.image-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-card{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.cardholder h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.image{
    position: relative;
}

.love{
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}